@font-face {
    font-family: "Manrope";
    src: url("/fonts/subset-Manrope-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Syne";
    src: url("/fonts/subset-Syne-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}